
# data sets 
data/datasets/

# encodings
encodings/enc/
encodings/glove.*
encodings/tmp/

eval_bert/logs/
eval_bert/res/

# eval data
eval_proxy/res/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

